:root {
    --primary-color: #1E3F66;
    --secondary-color: #3A6C7B;
    --accent1-color: #F2B705;
    --accent2-color: #E8E9EB;
    --heading-font: 'Bebas Neue', sans-serif;
    --body-font: 'Lato', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
    position: absolute;
    bottom: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 16px;
    width: 60%;
    left: 20px;
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 12px;
    border-radius: 4px;
}