header {
    background-color: #5784d2;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav {
    color: #fff;
    padding: 1rem;
    text-align: center;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

main {
    max-width: 840px;
    margin: 2rem auto;
    text-align: center;
}

main img {
    width: 150px;
    height: auto;
}

h1 {
    color: #333;
}


aside {
    max-width: 20rem;
    margin: 2rem auto;
    border: 1px solid rgb(0 0 0/0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

p {
    padding: 0;
}



aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 2px solid #888;
    text-align: center; 
}